@import "./mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$raleway: "Raleway", sans-serif;
$preformatted: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
"Courier New", monospace;
$black: #000000;
$white: #ffffff;
$body-color: #666;
$pink: #ff2679;
$transition-base: all 0.3s ease;

body {
  height: 100%;
  font-family: $raleway;
  font-weight: 300;
  color: $body-color;
  font-size: 1em;
}

// HEADINGS

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4, .display-5 {
  font-family: $raleway;
  font-weight: 900;
  margin-bottom: 1.5em;
  color: $black;
}

.display-1 {
  font-size: 9.75em;
}

.display-2 {
  font-size: 7em;
}

h1,
.h1 {
  font-size: 2.5em;
}

h3,
.h3 {
  font-size: 1.5em; //24px
}

h4,
.h4 {
  font-size: 1.25em; //20px
}

@media (max-width: 991.98px) {
  .display-1 {
    font-size: 6em;
  }

  .display-2 {
    font-size: 5.5em;
  }

  h3, .h3 {
    font-size: 1.25em; //20px
  }
}

h4, .h4 {
  font-size: 1.125em; //18px
}

@media (max-width: 767.98px) {
  .display-1 {
    font-size: 4em;
  }

  .display-2 {
    font-size: 3em;
  }

  h3, .h3 {
    font-size: 1.125em; //18px
  }

  h4, .h4 {
    font-size: 1.0625em; //17px
  }
}

//LINKS

a {
  display: inline-flex;
  color: $black;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.link {
  font-weight: 300;
  text-transform: unset;
}

.underlined {
  @include underline(#000000);
}
.underlined-reversed {
  @include underline-reversed(#000000);
}

.underlined-title {
  @include underline-title(#ff2679);
}

// TEXT HELPERS

.preformatted {
  font-family: $preformatted;
}

.text-stroke {
  color: $black;
  text-transform: unset;
  -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $black;
}

.text-lg {
  font-size: 1.125em;
}
.text-sm {
  font-size: 0.7em;
}

.text-thin {
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

//LAYOUT

.page-wrapper {
  height: auto !important;
  min-height: calc(100vh - 60px);
  padding: 0 0 2em;
}

.section-name {
  position: relative;
  display: inline-block;
  font-size: 0.875em;
  text-transform: uppercase;

  &:after {
    content: "";
    position: absolute;
    bottom: -0.25em;
    left: 0;
    width: 100%;
    height: 0.25em;
    background-color: $black;
  }
}

.section-title-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 3em;

  &.section-sticky {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: unset;
    display: inline-block;
  }

  h1 {
    margin-bottom: 0;
    line-height: 1;
  }

  .section-title {
    position: relative;
    display: inline-flex;
  }

  .section-title-menu {
    position: relative;
    top: -2em;
    right: -2%;
    z-index: 3;
    text-align: right;

    .display-2 {
      margin-bottom: -0.5em;
      line-height: normal;
    }

    .display-3 {
      margin-bottom: -0.5em;
      line-height: normal;
    }
  }

  @media (max-width: 767.98px) {
    .section-title-menu {
      top: -1em;
      right: -10%;
    }
  }
}

//BUTTONS

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: $black;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375em 0.75em;
  font-size: 0.9em;
  line-height: 1.5;
  border-radius: 0.25em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &.btn-link {
    justify-content: unset;
    border: 0;
    border-radius: 0;
    padding: 0;
    line-height: unset;
  }

  &.btn-left-underline {
    @include underline-reversed(#000000);
    justify-content: unset;
    border: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 900;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    line-height: unset;
    &:hover {
      color: $pink;
    }
  }
}

.image-ratio-1 {
  @include aspect-ratio(1, 1);
}

// FORMS
.custom-control {
  &.custom-switch {
    .custom-control-label {
      font-weight: 900;
      text-transform: uppercase;

      &:before,
      &:after {
        position: absolute;
        right: -7em;
        left: auto;
      }

      &:before {
        top: -0.4em;
        width: calc(6em + 6px);
        height: calc(1.8em + 6px);
        border: 3px solid $black;
        border-radius: 0.25em;
      }
      &:after {
        top: -0.08em;
        right: -6.7em;
        width: calc(3em - 6px);
        height: calc(2em - 6px);
        background: transparent;
        border: 3px solid #000000;
        border-radius: 0;
      }
    }
    .custom-control-input:checked {
      ~ .custom-control-label:before {
        background: $pink;
      }
      ~ .custom-control-label:after {
        background-color: #fff;
        transform: translateX(-3.2em);
      }
    }
  }
}

.section-project {
  position: relative;
  padding-top: 60px;
}

.section-project-toggle {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #ffffff;
}

.section-project-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.section-project-menu-wrapper {
  position: sticky;
  left: 0;
  top: 60px;
  z-index: 2;
  height: 100%;
  flex: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  transition: flex 0.3s ease, visibility 0.3s ease;
}

.section-project-content {
  flex: 1;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  transition: max-width 0.3s ease;
}

.menu {
  display: inline-block;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: transform 0.3s ease, opacity 0.1s ease;
}

.section-project.opened {

  .section-project-menu-wrapper {
    flex: 0 1 33%;
    padding-right: 30px;
    visibility: visible;
  }

  .menu {
    opacity: 1;
    transform: translate(0%, 0);
  }

  .section-project-content {
    max-width: 66%;
  }
}

.section-subtitle {
  font-weight: 500;
  margin-bottom: 2em;
}

.section-tool {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
  margin-right: 0.3em;
  text-transform: uppercase;
}

.section-url {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 0;
  list-style: none;

  li {
    margin-bottom: 0.5em;
  }

  a {
    display: inline-flex;
    align-items: center;
    font-size: 0.9em;
    letter-spacing: -0.05em;

    .section-url-icon {
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      margin-right: 1em;
      padding: 2px;
      border-radius: 100%;
      background: #000000;
      color: #ffffff;
    }
  }

  .section-url-icon {
    flex: 0 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
  }
  svg {
    width: 100%;
    max-width: 100%;
  }
}

.section-project-image {
  margin-bottom: 60px;

  h4 {
    text-align: right;
  }

  img {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 991.98px) {
  .section-project-content-wrapper {
    flex-direction: column;
  }

  .section-title-wrapper {
    margin-bottom: 1em;
  }

  .section-project-toggle {
    z-index: 0;
  }

  .section-toggle-btn {
    display: none;
  }

  .section-project-menu-wrapper {
    z-index: 0;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    padding-right: 0;
    transition: all 0.3s ease;
  }

  .menu {
    opacity: 1;
    transform: translate(0, 0%);
    transition: none;
  }

  .section-project-content {
    position: relative;
    z-index: 1;
    flex: 1 1 100%;
    width: 100%;
    transition: all 0.3s ease;
  }

  .section-project {
    padding-top: 1.5em;

    .section-project-menu-wrapper {
      visibility: visible !important;
      height: 100%;
      padding-right: 0 !important;
    }

    .section-project-content {
      max-width: 100% !important;
      width: 100% !important;
      background: #ffffff;
    }
  }

  .section-subtitle {
    margin-bottom: 1em;
  }
  .section-url {
    flex-direction: row;

    li {
      margin-right: 0.5em;
    }
  }
}
