@import "./mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$raleway: "Raleway", sans-serif;
$preformatted: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
"Courier New", monospace;
$black: #000000;
$white: #ffffff;
$dark: #1a1a1a;
$body-color: #666;
$pink: #ff2679;
$transition-base: all 0.3s ease;

body {
  width: 100%;
  height: 100%;
  font-family: $raleway;
  font-weight: 300;
  color: $body-color;
  font-size: 1em;
}

// HEADINGS

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4, .display-5 {
  font-family: $raleway;
  font-weight: 900;
  margin-bottom: 1.5em;
  color: $dark;
}

.display-1 {
  font-size: 9.75em;
}

.display-2 {
  font-size: 7em;
}

h1, .h1 {
  font-size: 2.5em;
}

h3, .h3 {
  font-size: 1.5em; //24px
}

h4, .h4 {
  font-size: 1.25em; //20px
}

@media (max-width: 991.98px) {
  .display-1 {
    font-size: 6em;
  }

  .display-2 {
    font-size: 5.5em;
  }

  h3, .h3 {
    font-size: 1.25em; //20px
  }
}

h4, .h4 {
  font-size: 1.125em; //18px
}

@media (max-width: 767.98px) {

  h3, .h3 {
    font-size: 1.125em; //18px
  }

  h4, .h4 {
    font-size: 1.0625em; //17px
  }
}

//LINKS

a {
  display: inline-flex;
  color: inherit;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.link {
  font-weight: 300;
  text-transform: unset;
}

.underlined {
  @include underline($dark);
}
.underlined-reversed {
  @include underline-reversed($dark);
}

.underlined-title {
  @include underline-title($pink);
}

// TEXT HELPERS

.preformatted {
  font-family: $preformatted;
}

.text-stroke {
  color: $dark;
  text-transform: unset;
  -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $dark;
}

.text-lg {
  font-size: 1.125em;
}
.text-sm {
  font-size: 0.7em;
}

.text-thin {
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

//LAYOUT

.headroom {
  z-index: 100 !important;
}

.page-wrapper {
  height: auto !important;
  min-height: calc(100vh - 100px);
  padding: 0 0 2em;
}

.section-name {
  position: relative;
  display: inline-block;
  font-size: 0.875em;
  text-transform: uppercase;

  &:after {
    content: "";
    position: absolute;
    bottom: -0.25em;
    left: 0;
    width: 100%;
    height: 0.25em;
    background-color: $dark;
  }
}

.section-title-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 3em;
  margin-bottom: 3em;

  &.section-sticky {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: unset;
    display: inline-block;
  }

  .section-title-btn-container {
    margin-bottom: 2em;
  }

  h1 {
    margin-bottom: 0;
    line-height: 1;
  }

  .section-title {
    position: relative;
    display: inline-flex;
  }

  .section-title-menu {
    position: relative;
    top: -2em;
    right: -2%;
    z-index: 3;
    text-align: right;

    .display-2 {
      margin-bottom: -0.5em;
      line-height: normal;
    }

    .display-3 {
      margin-bottom: -0.5em;
      line-height: normal;
    }
  }

  @media (max-width: 767.98px) {
    margin-top: 2em;

    .section-title-btn-container {
      margin-bottom: 1em;
    }

    .section-title {
      font-size: 10vw;
    }

    .section-title-menu {
      top: -4vw;
      right: 0;

      .display-3 {
        font-size: 10vw;
      }
    }
  }

  @media (max-width: 575.98px) {
    margin-top: 1em;

    .section-title {
      font-size: 15vw;
    }

    .section-title-menu {
      top: -6vw;
      right: 0;

      .display-3 {
        font-size: 15vw;
      }
    }
  }


}

//BUTTONS

button {
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: $dark;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375em 0.75em;
  font-size: 0.9em;
  line-height: 1.5;
  border-radius: 0.25em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &.btn-link {
    justify-content: unset;
    border: 0;
    border-radius: 0;
    padding: 0;
    line-height: unset;
  }

  &.btn-left-underline {
    @include underline($pink);
    justify-content: unset;
    border: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 900;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    line-height: unset;

    &:hover {
      color: $pink;
    }
  }
}

.section-infos {
  .display-2 {
    margin-bottom: 0.5em;
  }
}

.section-infos-profile {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 90%;
  }
}

.profile-pic-overlay {
  position: absolute;
  top: 30%;
  left: 0;
  display: block;
  height: 30%;
  width: 100%;
  background: #FF2679;
  mix-blend-mode: darken;
}

.section-infos-intro {
  margin-top: 3em;
}

.section-infos-intro,
.section-infos-about,
.section-infos-stats,
.section-infos-circle-stats {
  padding-bottom: 4em;
}

.section-infos-title {
  text-transform: uppercase;
}

.stats-list {
  padding-left: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;

    h6 {
      margin-bottom: 0;
      font-weight: 600;
      text-transform: uppercase;
    }

    .progress-bar-wrapper {
      flex: 0 1 80%;
      position: relative;
      width: 100%;

      .progress {
        display: flex;
        height: 1.5em;
        overflow: hidden;
        line-height: 0;
        font-size: .825rem;
        background-color: #ffffff;
        border-radius: .25rem;
      }

      .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #1a1a1a;
        transition: width .6s ease;
      }
    }
  }
}

.section-infos-about {

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;

    li {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      color: #1a1a1a;
      font-weight: 600;
      text-transform: uppercase;

      svg {
        margin-right: 1em;
        flex: 0 0 20px;
      }
    }
  }
}

.section-infos-circle-stats {
  .col {
    margin-bottom: 2em;
  }
}

.section-info-circle-stat-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 125px;
  margin: 0 auto;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 0.9em;
  text-align: center;
  text-transform: uppercase;
}

.custom-circular-progress {
  margin-bottom: 1.5em;

  path.CircularProgressbar-trail {
    stroke: #FF2679;
    stroke-linecap: square;
  }

  path.CircularProgressbar-path {
    stroke: #1a1a1a;
    stroke-linecap: square;
    transition: stroke-dashoffset 0.5s ease 0s;
  }

  text.CircularProgressbar-text {
    fill: #1a1a1a;
    font-size: 1.25em;
    font-weight: 500;
  }
}

.section-infos-contact {
  text-align: right;

  h4 {
    margin-bottom: 0;
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height:80px;
    margin-left: 0.5em;
    background: #1a1a1a;
    border-radius: 0.25em;
    color: #ffffff;
    font-size: 3em;
    transition: 0.3s ease;
    &:hover {
      transform: translate(0,10px);
    }
  }
}

@media(max-width: 991.98px) {

  .section-infos-intro,
  .section-infos-about,
  .section-infos-stats,
  .section-infos-circle-stats {
    padding-bottom: 2em;
  }
}

@media(max-width: 767.98px) {

  .section-infos-about {

    ul {

      li {
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;

        svg {
          margin-right: 1em;
          flex: 0 0 20px;
        }
      }
    }
  }

  .stats-list {

    .progress-bar-wrapper {
      flex: 0 1 75%;
      position: relative;
      width: 100%;
    }
  }

  .section-infos-contact {
    text-align: center;
  }
}

