// MIXINS & EFFECTS

@mixin underline($color) {
  position: relative;
  text-decoration: none;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.25em;
    width: 0;
    height: 0.25em;
    margin-top: 0.25em;
    transition: $transition-base;
    opacity: 0;
    background-color: $color;
  }

  &:hover {
    $color: $color;
    text-decoration: none;
    &:before,
    &:after {
      left: 0;
      width: 100%;
      opacity: 1;
    }
  }
}

@mixin underline-reversed($color) {
  position: relative;
  text-decoration: none;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.25em;
    width: 100%;
    height: 0.25em;
    margin-top: 0.25em;
    transition: $transition-base;
    opacity: 1;
    background-color: $color;
  }

  &:hover {
    color: $color;
    text-decoration: none;
    &:before,
    &:after {
      left: 0;
      width: 0;
      opacity: 0;
    }
  }
}

@mixin underline-title($color) {
  position: relative;
  text-decoration: none;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.23em;
    width: 0;
    height: 0.25em;
    margin-top: 0;
    transition: $transition-base;
    opacity: 0;
    background-color: $color;
    mix-blend-mode: darken;
  }

  &:hover {
    color: unset;
    text-decoration: none;
    &:before,
    &:after {
      left: 0;
      width: 100%;
      opacity: 1;
    }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eeeeee;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.image-ratio-1 {
  @include aspect-ratio(1, 1);
}

// CURSOR BLINK

@keyframes blink-caret {
  from, to { border-color: #1a1a1a }
  50% { border-color: transparent }
}

.blink {
  animation: blink-caret 0.75s step-end infinite;
}

// ROTATE MESSAGE

.rotate-in {
  animation: rotateIn ease 10s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes rotateIn{
  0% {
    opacity:0;
    transform:  translate(308px,0px)  rotate(360deg) ;
  }
  20% {
    opacity:1;
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  100% {
    opacity:0;
    transform:  translate(306px,0px)  rotate(360deg) ;
  }
}

